# Ignorar archivos de configuración de IDEs
.vscode/
.idea/

# Ignorar archivos de entorno virtual
.env/
venv/
*.env

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Archivos de bases de datos y migraciones
*.sqlite3
*.db
alembic/versions/

# Archivos de compilación
*.log

# Archivos generados automáticamente por herramientas de migración o pytest
*.pid
*.cover
*.egg-info
*.tox/
*.nox/
*.coverage

# Archivos de instalación
*.egg

# Archivos temporales de sistema
Thumbs.db
Desktop.ini
.DS_Store
